@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Lexend:wght@100..900&display=swap');

:root {
  --cor-light-gray: #FEFEFE;
  --cor-gray: #C5C7D1;
  --cor-dark-gray: #6A6A6A;
  --cor-charcoal: #1E1E1F;
  --cor-dark: #101011;
  --cor-turquoise: #20F4CF;
  --cor-sky-blue: #00E5FF;
  --cor-deep-sky-blue: #00BFFF;
  --cor-light-pink: #FF6A6A;
  --cor-light-red: #FF4D4D;
  --gradient-sky-deep-sky: linear-gradient(45deg, var(--cor-sky-blue), var(--cor-deep-sky-blue));
  --gradient-light-red-light-pink: linear-gradient(45deg, var(--cor-light-pink), var(--cor-light-red));

  --font-display: 'Electrolize', 'Roboto', sans-serif;
  --font-main: 'Lexend', 'Roboto', sans-serif;

  --font-size-detail: 0.8rem;
  --font-size-base: 16px;
  --font-size-paragraph: 1rem;
  --font-size-subtitle: 1.2rem;
  --font-size-logo: 1.4rem;
  --font-size-title: 1.6rem;
  --font-size-detail-landing-page: 5rem;
  --font-size-logo-landing-page: 7rem;

  --font-weight-base: 400;
  --font-weight-bold: 600;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: var(--cor-dark);
  color: var(--cor-light-gray);
  font-family: var(--font-main);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  overflow-x: hidden;
}

.moneyDetail {
  color: var(--cor-light-red);
}

body::-webkit-scrollbar{
  background-color: var(--cor-dark);
  width: 7px;
}

body::-webkit-scrollbar-thumb{
  background-color: var(--cor-charcoal);
  border-radius: 3px;
}